<!--
 Logback config depends on spring profile.
 If running locally, should print logs to stdout.
 If not, should go to logz.io.

 This is in accordance with https://12factor.net/logs
 -->
<configuration>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
        <token>${LOGZ_TOKEN}</token>
        <logzioUrl>${LOGZ_URL}</logzioUrl>
        <logzioType>myType</logzioType>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="LogzioLogbackAppender"/>
    </root>
</configuration>